body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.left-column {
    width: 20%;
    float: left;
    margin-left: 20%;
    margin-top: 12%;
}

.main-title {
    color: blue;
    font-size: 110px;
    margin: 0;
    font-weight: normal;
    font-family: 'Rubik Broken Fax', Verdana, Geneva, Tahoma, sans-serif;
}

.main-description {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Rubik Bubbles', Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: red;
    background-color: white;
    border: 3px solid blue;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background-color: red;
    color: white;
}

.right-column {
    width: 35%;
    float: left;
    margin-left: 5%;
    margin-top: 110px;
    transition: all 1s;
}
.right-column:hover {
    width: 50%;
    margin-top: 100px;
    transition: all 3s;
}

.girlenda {
    display: inline-block;
    width: 100%;
    padding: 30px;
}
.girlenda .lempute {
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: red;
    animation-name: kaledos;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.girlenda .lempute:nth-child(4n + 1) {
    animation-delay: 2s;
}
.girlenda .lempute:nth-child(4n + 2) {
    animation-delay: 4s;
}
.girlenda .lempute:nth-child(4n + 3) {
    animation-delay: 6s;
}

@keyframes kaledos {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}
